
<div class="container">
    <div class="banner row justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1496318447583-f524534e9ce1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1105&q=80);">
      <h1>All Cocktails</h1>
    </div>
    <div class="row justify-content-center">
      <div class="col-9">
        <div class="cards ">
          <% @cocktails.each do |cocktail|  %>
            <div class="card-product">
              <img src=<%= "https://source.unsplash.com/featured/?#{cocktail.name}"%> />
              <div class="card-product-infos">
                  <h2> <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></h2>
                  <p><% cocktail.doses.each do |dose| %></p>
                  <%= "#{dose.ingredient.name}" %>
                  <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-3 flex-column text-right nav-vertical ">
        <p class="nav-link text-center">List of cocktails</p>
        <% @cocktails.each do |cocktail| %>
        <p class="nav-link"> <%= link_to "#{cocktail.name}", cocktail_path(cocktail) %></p>
        <% end %>
        <%= link_to "Add a new cocktail", new_cocktail_path, class: "btn btn-primary m-t-2 "  %>
      </div>
    </div>
</div>
